/* Add this CSS to your stylesheet or CSS file */
.parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .combo {
      /* flex-direction: column; */
      padding: 10px;
      margin: 10px;
      gap: 10px;
      width: 200px; /* Adjust the width as needed */
    }
    
    .tog{
      display: flex;
      /* flex-direction: column; */
      align-items: center;
      justify-content: space-between;
    }
  
    .tog button{
      border: none;
      border-radius: 5px;
      color: white;
      background-color: rgb(166, 225, 244);
    }
  
    .combo img {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
      max-width: 200px; /* Adjust the maximum width of the image */
      margin-bottom: 10px;
      border-radius: 5px;
    }
    
    .combo h5 {
      margin: 5px 0;
      font-size: 16px;
      text-align: center;
    }
    
    /* You can add more specific styling as per your requirements */
    